body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.banner {
  background: url(img/pattern.jpg);
  height: 100vh;
  width: 100vw;
  background-position: 0 0;
  animation: animated-pattern 10s linear infinite;
}

@keyframes animated-pattern {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 246px;
  }
}
